<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>Servlet.LogoutServlet</servlet-class>
  </servlet>
<servlet>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<display-name>AddToCartServlet</display-name>
  	<description></description>
  	<servlet-class>Servlet.AddToCartServlet</servlet-class>
  </servlet>
<servlet>
	<servlet-name>Quantity_incr_dec</servlet-name>
	<display-name>Quantity_incr_dec</display-name>
	<description></description>
	<servlet-class>Servlet.Quantity_incr_dec</servlet-class>
</servlet>
<servlet>
	<servlet-name>RemoveFromCart</servlet-name>
	<display-name>RemoveFromCart</display-name>
	<description></description>
	<servlet-class>Servlet.RemoveFromCart</servlet-class>
</servlet>
<servlet>
	<servlet-name>OrderNow</servlet-name>
	<display-name>OrderNow</display-name>
	<description></description>
	<servlet-class>Servlet.OrderNow</servlet-class>
</servlet>
<servlet>
	<servlet-name>CheckOutServlet</servlet-name>
	<display-name>CheckOutServlet</display-name>
	<description></description>
	<servlet-class>Servlet.CheckOutServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>CancelOrderServlet</servlet-name>
	<display-name>CancelOrderServlet</display-name>
	<description></description>
	<servlet-class>Servlet.CancelOrderServlet</servlet-class>
</servlet>
 
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  	<servlet-name>AddToCartServlet</servlet-name>
  	<url-pattern>/Add</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>Quantity_incr_dec</servlet-name>
 	<url-pattern>/Quantity_incr_dec</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>RemoveFromCart</servlet-name>
 	<url-pattern>/RemoveFromCart</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>OrderNow</servlet-name>
 	<url-pattern>/OrderNow</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>CheckOutServlet</servlet-name>
 	<url-pattern>/CheckOutServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>CancelOrderServlet</servlet-name>
 	<url-pattern>/CancelOrderServlet</url-pattern>
 </servlet-mapping>

</web-app>
